<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                    placeholder="{{localize 'SWADE.Name'}}" /></h1>
            <ul class="flexrow header-stats">
                <li class="form-group">
                    <label for="pace">{{localize "SWADE.Pace"}}</label>
                    <input id="pace" name="data.stats.speed.value" type="text" value="{{data.stats.speed.value}}"
                        placeholder="0" data-dtype="Number" />
                </li>
                <li class="form-group">
                    <label for="toughness">{{localize "SWADE.Tough"}}</label>
                    <input id="toughness" name="data.stats.toughness.value" type="text"
                        value="{{data.stats.toughness.value}}" placeholder="0" data-dtype="Number" />
                </li>
                <li class="form-group">
                    <label for="parry">{{localize "SWADE.Parry"}}</label>
                    <input id="parry" name="data.stats.parry.value" value="{{data.stats.parry.value}}" type="text"
                        placeholder="0" data-dtype="Number" />
                </li>
            </ul>
        </div>
    </header>
    <section class="sheet-body">
        <div class="flexrow">
            <div class="traits">
                <header class="attributes-header flexrow">
                    <span>{{ localize "SWADE.Attributes" }}</span>
                </header>
                <ol class="attributes-list">
                    <li class="flexrow" data-attribute="agility">
                        <label class="attribute-label" for="attributes.agility">{{ localize "SWADE.AttrAgi" }}</label>
                        <select class="attribute-value" name="data.attributes.agility.die.sides" id="attributes.agility"
                            data-dtype="Number">
                            {{#select data.attributes.agility.die.sides}}
                            {{> "systems/swade/templates/die-sides-options.html"}}
                            {{/select}}
                        </select>
                        <input name="data.attributes.agility.die.modifier" type="text"
                            value="{{data.attributes.agility.die.modifier}}" placeholder="{{localize 'SWADE.Mod'}}"
                            data-dtype="String" />
                    </li>
                    <li class="flexrow" data-attribute="smarts">
                        <label class="attribute-label" for="attributes.smarts">{{ localize "SWADE.AttrSma" }}</label>
                        <select name="data.attributes.smarts.die.sides" id="attributes.smarts" data-dtype="Number">
                            {{#select data.attributes.smarts.die.sides}}
                            {{> "systems/swade/templates/die-sides-options.html"}}
                            {{/select}}
                        </select>
                        <input name="data.attributes.smarts.die.modifier" type="text"
                            value="{{data.attributes.smarts.die.modifier}}" placeholder="{{localize 'SWADE.Mod'}}"
                            data-dtype="String" />
                    </li>
                    <li class="flexrow" data-attribute="spirit">
                        <label class="attribute-label" for="attributes.spirit">{{ localize "SWADE.AttrSpr" }}</label>
                        <select name="data.attributes.spirit.die.sides" id="attributes.spirit" data-dtype="Number">
                            {{#select data.attributes.spirit.die.sides}}
                            {{> "systems/swade/templates/die-sides-options.html"}}
                            {{/select}}
                        </select>
                        <input name="data.attributes.spirit.die.modifier" type="text"
                            value="{{data.attributes.spirit.die.modifier}}" placeholder="{{localize 'SWADE.Mod'}}"
                            data-dtype="String" />
                    </li>
                    <li class="flexrow" data-attribute="strength">
                        <label class="attribute-label" for="attributes.strength">{{ localize "SWADE.AttrStr" }}</label>
                        <select name="data.attributes.strength.die.sides" id="attributes.strength" data-dtype="Number">
                            {{#select data.attributes.strength.die.sides}}
                            {{> "systems/swade/templates/die-sides-options.html"}}
                            {{/select}}
                        </select>
                        <input name="data.attributes.strength.die.modifier" type="text"
                            value="{{data.attributes.strength.die.modifier}}" placeholder="{{localize 'SWADE.Mod'}}"
                            data-dtype="String" />
                    </li>
                    <li class="flexrow" data-attribute="vigor">
                        <label class="attribute-label" for="attributes.vigor">{{ localize "SWADE.AttrVig" }}</label>
                        <select name="data.attributes.vigor.die.sides" id="attributes.vigor" data-dtype="Number">
                            {{#select data.attributes.vigor.die.sides}}
                            {{> "systems/swade/templates/die-sides-options.html"}}
                            {{/select}}
                        </select>
                        <input name="data.attributes.vigor.die.modifier" type="text"
                            value="{{data.attributes.vigor.die.modifier}}" placeholder="{{localize 'SWADE.Mod'}}"
                            data-dtype="String" />
                    </li>
                </ol>
                <header class="skills-header">
                    <span>{{localize "SWADE.Skills"}}</span>
                </header>
                <ol class="skills-list">
                    {{#each data.skills as |skill id|}}
                    <li class="item skill flexrow" data-item-id="{{skill._id}}">
                        <label class="skill-label"><a class="item-control item-edit"
                                title="{{localize 'SWADE.EditSkill'}}">{{skill.name}}&nbsp;<i
                                    class="fas fa-edit"></i></a></label>
                        <div class="skill-value"><span>d{{skill.data.die.sides}}{{skill.data.die.modifier}}</span></div>
                        <div class="skill-value"><span>{{skill.data.attribute}}</span></div>
                        <!-- Add Dice roll shortcut here? -->
                    </li>
                    {{/each}}
                </ol>
                <div class="gear">
                    <header class="gear-header">
                        <span>{{localize "SWADE.Inv"}}</span>
                    </header>
                    {{#each data.weapons as |weapon id|}}
                    <div>{{weapon.name}}</div>
                    {{/each}}
                    {{#each data.armors as |armor id|}}
                    <div>{{armor.name}}</div>
                    {{/each}}
                    {{#each data.shields as |shield id|}}
                    <div>{{shield.name}}</div>
                    {{/each}}
                </div>
            </div>
            <div class="gear">
                <header class="gear-header">
                    <span>{{localize "SWADE.Desc"}}</span>
                </header>
                {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>
</form>