<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="profile-img-container">
      <img
        class="profile-img"
        src="{{actor.img}}"
        data-edit="img"
        title="{{actor.name}}"
      />
    </div>
    <div class="header-fields">
      <div class="charline">
        <h1 class="charname">
          <input
            name="name"
            type="text"
            value="{{actor.name}}"
            placeholder="{{localize 'SWADE.Name'}}"
          />
        </h1>
        {{#if actor.data.settingrules.conviction}}
        <div class="conviction">
          <a
            class="conviction-toggle {{#if data.details.conviction.active}}pulse{{/if}}"
            ><strong class=""
              >{{localize "SWADE.Conv"}}{{#if
              data.details.conviction.active}}&nbsp;Active{{/if}}</strong
            ></a
          >
          <div>
            <input
              type="text"
              name="data.details.conviction.value"
              value="{{data.details.conviction.value}}"
              data-dtype="Number"
              class="conviction-counter"
            />
          </div>
        </div>
        {{/if}}
      </div>
      <div>
        <div class="flexrow header-stats">
          <div class="form-group">
            <input
              type="checkbox"
              name="data.wildcard"
              id="data.wildcard-{{actor._id}}"
              {{checked
              data.wildcard}}
            />
            <label for="data.wildcard-{{actor._id}}"
              >{{localize "SWADE.Wildcard"}}</label
            >
          </div>
          <div class="form-group">
            <input
              type="checkbox"
              name="data.status.isShaken"
              id="data.status.isShaken-{{actor._id}}"
              {{checked
              actor.data.status.isShaken}}
            />
            <label for="data.status.isShaken-{{actor._id}}"
              >{{localize "SWADE.Shaken"}}</label
            >
          </div>
          <div class="form-group">
            <input
              type="checkbox"
              name="data.status.isDistracted"
              id="data.status.isDistracted-{{actor._id}}"
              {{checked
              actor.data.status.isDistracted}}
            />
            <label for="data.status.isDistracted-{{actor._id}}"
              >{{localize "SWADE.Distr"}}</label
            >
          </div>
          <div class="form-group">
            <input
              type="checkbox"
              name="data.status.isVulnerable"
              id="data.status.isVulnerable-{{actor._id}}"
              {{checked
              actor.data.status.isVulnerable}}
            />
            <label for="data.status.isVulnerable-{{actor._id}}"
              >{{localize "SWADE.Vuln"}}</label
            >
          </div>
        </div>
      </div>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="flexrow tabs" data-group="primary">
    {{#if actor.flags.swade.hasArcaneBackground}}
    <a class="item" data-tab="summary">{{localize "SWADE.Summary"}}</a>
    <a class="item" data-tab="powers">{{localize "SWADE.Pow"}}</a>
    {{/if}}
  </nav>
  <section class="sheet-body">
    {{#if actor.flags.swade.hasArcaneBackground}} {{!-- Summary Tab --}}
    <div class="tab active" data-group="primary" data-tab="summary">
      {{> "systems/swade/templates/actors/partials/npc-summary-tab.html"}}
    </div>

    {{!-- Powers Tab --}}
    <div class="tab powers" data-group="primary" data-tab="powers">
      {{> "systems/swade/templates/actors/partials/powers-tab.html"}}
    </div>

    {{else}} {{>
    "systems/swade/templates/actors/partials/npc-summary-tab.html"}} {{/if}}
  </section>
</form>
