@mixin vital {
  margin: $small-spacing 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  line-height: 70px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  min-width: 100px;
  input {
    width: 35px;
    text-align: end;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    height: 70px;
  }
}
