<form autocomplete="off">
  {{#unless isCharacter}} {{#unless isVehicle}}
  <div class="form-group">
    <label for="wildcard">{{localize "SWADE.Wildcard"}}</label>
    <div class="form-fields">
      <input
        type="checkbox"
        name="data.wildcard"
        id="wildcard"
        {{checked
        data.wildcard}}
      />
    </div>
  </div>
  {{/unless}} {{/unless}}
  <div class="form-group">
    <label>{{localize "SWADE.WoundsMax"}}</label>
    <div class="form-fields">
      <input
        type="text"
        name="data.wounds.max"
        value="{{data.wounds.max}}"
        data-dtype="Number"
      />
    </div>
  </div>
  {{#unless isVehicle}}
  <div class="form-group">
    <label>{{localize "SWADE.FatigueMax"}}</label>
    <div class="form-fields">
      <input
        type="text"
        name="data.fatigue.max"
        value="{{data.fatigue.max}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "SWADE.BenniesMax"}}</label>
    <div class="form-fields">
      <input
        class="bennies-max"
        name="data.bennies.max"
        type="text"
        value="{{data.bennies.max}}"
        data-dtype="Number"
      />
    </div>
  </div>
  {{/unless}}
  <div class="form-group">
    <label for="data.wounds.ignored">{{localize "SWADE.IgnWounds"}}</label>
    <div class="form-fields">
      <input
        id="data.wounds.ignored"
        name="data.wounds.ignored"
        type="text"
        value="{{data.wounds.ignored}}"
        data-dtype="Number"
      />
    </div>
  </div>
  {{#if isVehicle}}
  <div class="form-group">
    <label for="data.maxCargo">{{localize "SWADE.MaxCargo"}}</label>
    <div class="form-fields">
      <input
        id="data.maxCargo"
        name="data.maxCargo"
        type="text"
        value="{{data.maxCargo}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="data.maxMods">{{localize "SWADE.MaxMods"}}</label>
    <div class="form-fields">
      <input
        id="data.maxMods"
        name="data.maxMods"
        type="text"
        value="{{data.maxMods}}"
        data-dtype="Number"
      />
    </div>
  </div>
  {{/if}} {{#if shouldDisplayInit}}
  <h2>{{localize "SWADE.Init"}}</h2>
  <section>
    <div class="form-group">
      <label for="hasLevelHeaded">{{localize "SWADE.LevelHeaded"}}</label>
      <div class="form-fields">
        <input
          type="checkbox"
          name="data.initiative.hasLevelHeaded"
          id="hasLevelHeaded"
          {{checked
          data.initiative.hasLevelHeaded}}
        />
      </div>
    </div>
    <div class="form-group">
      <label for="data.hasImpLevelHeaded"
        >{{localize "SWADE.ImprovedLevelHeaded"}}</label
      >
      <div class="form-fields">
        <input
          type="checkbox"
          name="data.initiative.hasImpLevelHeaded"
          id="hasImpLevelHeaded"
          {{checked
          data.initiative.hasImpLevelHeaded}}
        />
      </div>
    </div>
    <div class="form-group">
      <label for="hasHesitant">{{localize "SWADE.Hesitant"}}</label>
      <div class="form-fields">
        <input
          type="checkbox"
          name="data.initiative.hasHesitant"
          id="hasHesitant"
          {{checked
          data.initiative.hasHesitant}}
        />
      </div>
    </div>
  </section>
  {{/if}} {{#if settingFields}}
  <h2>
    Setting specific Fields
  </h2>
  <section>
    {{log @this}} {{#each settingFields as |attr key|}}
    <div class="form-group">
      <label for="{{_id}}-{{key}}-useField">{{attr.label}}</label>
      <input
        type="checkbox"
        name="data.settingSpecific.{{key}}.useField"
        id="{{_id}}-{{key}}-useField"
        {{checked
        attr.useField}}
      />
    </div>
    {{/each}}
  </section>
  {{/if}}
  <footer class="sheet-footer">
    <button type="submit">
      <i class="fas fa-save"></i>{{localize "Save Changes"}}
    </button>
  </footer>
</form>
