<form>
    <div class=form-group>
        <label for="hasLevelHeaded">Has Level Headed</label>
        <input type="checkbox" name="hasLevelHeaded" id="hasLevelHeaded" {{checked hasLevelHeaded}}>
    </div>
    <div class=form-group>
        <label for="data.hasImpLevelHeaded">Has Improved Level Headed</label>
        <input type="checkbox" name="hasImpLevelHeaded" id="hasImpLevelHeaded" {{checked hasImpLevelHeaded}}>
    </div>
    <div class=form-group>
        <label for="hasHesitant">Has Hesitant</label>
        <input type="checkbox" name="hasHesitant" id="hasHesitant" {{checked hasHesitant}}>
    </div>
</form>