{{#each data.owned.armors as |armor id|}}
{{#if armor.data.equipped}}
<li class="gear-card">
    <header class="flexrow card-header">
        <div class="item-image" style="background-image: url('{{armor.img}}')"></div>
        <h4 class="item-name">{{armor.name}}</h4>
    </header>
    <div class="card-content collapsed" style="display:none;">
        <div>{{localize "SWADE.Armor"}}: {{armor.data.armor}}</div>
        {{#unless (isEmpty armor.data.notes)}}
        <div>{{armor.data.notes}}</div>
        {{/unless}}
    </div>
</li>
{{/if}}
{{/each}}