<div class="flexrow">
    <div class=" profile-img-container">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    </div>
    <div>
        <div class="form-group">
            <label for="data.wounds.ignored">{{localize "SWADE.IgnWounds"}}: </label>
            <input id="data.wounds.ignored" name="data.wounds.ignored" type="text" value="{{data.wounds.ignored}}"
                data-dtype="Number" />
        </div>
        <button type="Button" id="initConfigButton">{{localize "SWADE.ConfigInit"}}</button>
    </div>
</div>
<header class="header-field">
    <span>{{ localize "SWADE.Desc" }}</span>
</header>
{{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}