<div class="flexrow">
    <div class="form-group header-field">
        <div>
            <label>{{localize "SWADE.Arcane"}}</label>
            <select class="power-filter">
                <option value="{{localize 'SWADE.Default'}}"}}>
                    {{localize 'SWADE.Default'}}
                </option>
                {{#each arcanes as |arcane id|}}
                    {{#unless (eq arcane (localize 'SWADE.Default'))}}
                  <option value="{{arcane}}">
                    {{arcane}}
                  </option>
                  {{/unless}}
                {{/each}}
            </select>
        </div>
        <div class="power-counter">
            <label for="data.powerPoints.value">{{localize "SWADE.PP"}}</label>
            <input name="data.powerPoints.value" type="text" value="{{data.powerPoints.value}}"
                placeholder="{{localize 'SWADE.CurPP'}}" data-dtype="Number" />
            <span>/</span>
            <input name="data.powerPoints.max" type="text" value="{{data.powerPoints.max}}"
                placeholder="{{localize 'SWADE.MaxPP'}}" data-dtype="Number" />
        </div>
        <div class="header-field-add">
            <a class="item-create" data-type="power"><i class="fa fa-plus"></i></a>
        </div>
    </div>
</div>
<powers class="powers-list resizable" data-base-size="510">
    {{#each data.owned.powers as |power id|}}
    <div class="power item" data-item-id="{{power._id}}" {{#unless (eq power.data.arcane "Default" )}} style="display:none;" {{/unless}} data-arcane="{{power.data.arcane}}">
        <a class="item-edit">
          <div class="power-header">
            {{power.name}} - {{power.data.pp}} PP
          </div>
        </a>
        <div class="power-content">
            {{#if power.data.damage.length}}
            <div>{{localize "SWADE.Dmg"}}: <a class="damage-roll">{{power.data.damage}}</a></div>
            {{/if}}
            {{{power.data.description}}}
        </div>
    </div>
    {{/each}}
</powers>
