{{#each data.owned.powers as |power id|}}
{{#unless (isEmpty power.data.damage)}}
<li class="gear-card " data-item-id="{{power._id}}">
    <header class="card-header">
        <a class="card-name">{{power.name}}</a> -
        <a class="damage-roll">{{localize "SWADE.Dmg"}}: {{power.data.damage}}</a>
    </header>
    <div class="card-content">
        <div>{{localize "SWADE.PP"}}: {{power.data.pp}}</div>
        <div>{{localize "SWADE.Rng"}}: {{power.data.range}}</div>
        <div class="flexrow ellipsize">
            <div>{{localize "SWADE.Dur"}}: {{power.data.duration}}</div>
        </div>
    </div>
</li>
{{/unless}}
{{/each}}