{{#if hasAdditionalStatsFields}}
<header class="header-field flexrow">
  <span>{{localize "SWADE.AddStats"}}</span>
</header>
{{#each data.additionalStats as |attr key|}}
<div class="form-group">
  <label>{{attr.label}}</label>
  <span class="form-fields">
    {{#if attr.isCheckbox}}
    <input
      style="display: inline;"
      type="checkbox"
      name="data.additionalStats.{{key}}.value"
      {{checked
      attr.value}}
    />
    {{else}}
    <input
      type="text"
      name="data.additionalStats.{{key}}.value"
      data-dtype="{{attr.dtype}}"
      value="{{attr.value}}"
    />
    {{#if attr.hasMaxValue}}
    <input
      type="text"
      name="data.additionalStats.{{key}}.max"
      data-dtype="{{attr.dtype}}"
      value="{{attr.max}}"
    />
    {{/if}} {{/if}}
  </span>
</div>
{{/each}} {{/if}}
