{{#each data.owned.shields as |shield id|}}
{{#if shield.data.equipped}}
<li class="gear-card ">
    <header class="card-header">
        <span>{{shield.name}}</span>
    </header>
    <div class="card-content">
        <div class="flexrow">
            <div>{{localize "SWADE.Parry"}}: {{shield.data.parry}}</div>
            <div>{{localize "SWADE.Cover"}}: {{shield.data.cover}}</div>
        </div>
        <div class="chips">
            {{localize "SWADE.Notes"}}: {{shield.data.notes}}
        </div>
    </div>
</li>
{{/if}}
{{/each}}