{{#each data.weapons as |weapon id|}}
{{#if weapon.data.equipped}}
<li class="gear-card">
    <header class="flexrow card-header">
        <span>{{weapon.name}} - Damage: {{weapon.data.damage}}</span>
    </header>
    <div class="flexrow card-content" data-item-id="{{weapon._id}}">
        <div>
            <div>Range: {{weapon.data.range}}</div>
            <div>AP: {{weapon.data.ap}}</div>
        </div>
        <div>
            <div>RoF: {{weapon.data.rof}}</div>
            <div>Shots: {{weapon.data.shots}}</div>
        </div>
    </div>
    <div class="chips">
        <span>Notes:</span>
        <div class="chip">
            <span class="chip-content">HW</span>
        </div>
        <div class="chip">
            <span class="chip-content">Snapfire</span>
        </div>
    </div>
</li>
{{/if}}
{{/each}}