<div
  class="swade chat-card item-card"
  data-actor-id="{{actor._id}}"
  data-item-id="{{_id}}"
  data-token-id="{{tokenId}}"
>
  {{#unless (isEmpty data.notes)}}
  <div class="chips">
    <p><span class="bold">{{localize "SWADE.Notes"}}:</span> {{data.notes}}</p>
  </div>
  {{/unless}} {{#if (eq type "armor")}}
  <div class="chips">
    <p><span class="bold">{{localize "SWADE.Armor"}}:</span> {{data.armor}}</p>
  </div>
  {{/if}} {{#if (and (eq type "weapon") data.range)}}
  <div class="chips">
    <p><span class="bold">Range:</span> {{data.range}}</p>
  </div>
  {{/if}} {{#if (and (eq type "weapon") (gt data.ap '0'))}}
  <div class="chips">
    <p><span class="bold">AP:</span> {{data.ap}}</p>
  </div>
  {{/if}} {{#if (eq type "shield")}}
  <div class="chips">
    <p><span class="bold">{{localize "SWADE.Parry"}}:</span> {{data.parry}}</p>
  </div>
  {{/if}} {{#if hasAmmoManagement}}
  <div class="ammo-counter">
    <p>
      <span class="bold">{{localize "SWADE.Mag"}}:</span>
      <span class="current-shots">{{currentShots}}</span>&nbsp;/&nbsp;<span
        class="max-shots"
        >{{shots}}</span
      >
      {{#if data.ammo}}&nbsp;- &nbsp;{{data.ammo}}{{/if}}
    </p>
  </div>
  {{/if}} {{#if (eq type "power")}} {{#unless powersTab}}
  <div class="pp-counter">
    <p>
      <span class="bold"
        >{{#if data.arcane}}{{data.arcane}} {{/if}}{{localize
        "SWADE.PP"}}:</span
      >
      <span class="current-pp">{{powerPoints.current}}</span>&nbsp;/&nbsp;<span
        class="max-pp"
        >{{powerPoints.max}}</span
      >
    </p>
  </div>
  {{/unless}} {{/if}}

  <div class="card-buttons">
    {{#if (eq type "power")}} {{#unless powersTab}}
    <span class="flexcol">
      <input type="number" class="pp-adjust" value="{{data.pp}}" />
      <span class="flexrow" style="display: flex;">
        <button class="card-button" data-action="pp-adjust" data-adjust="plus">
          &plus; Add
        </button>
        <button class="card-button" data-action="pp-adjust" data-adjust="minus">
          &minus; Subtract
        </button>
      </span>
    </span>
    {{/unless}} {{/if}} {{log this}} {{#unless powersTab}} {{#if hasSkillRoll}}
    <h4 class="actions-subheading">Skill Rolls</h4>
    {{/if}} {{/unless}} {{#if hasSkillRoll}}
    <button class="card-button" data-action="formula">
      {{#if hasSkillRoll}}
      <i class="fas fa-bullseye"></i> {{skill}} {{/if}}
    </button>
    {{/if}} {{#if hasAdditionalActions}} {{#each actions as |attr key|}} {{#if
    (eq attr.type "skill")}}
    <button class="card-button" data-action="{{attr.key}}">
      <i class="fas fa-bullseye"></i> {{attr.name}}
    </button>
    {{/if}} {{/each}} {{/if}} {{#unless powersTab}} {{#if hasDamage }}
    <h4 class="actions-subheading">Damage Rolls</h4>
    {{/if}} {{/unless}} {{#if data.damage}}
    <button class="card-button" data-action="damage">
      <i class="fas fa-tint"></i> {{data.damage}}
    </button>
    {{/if}} {{#if hasAdditionalActions}} {{#each data.actions.additional as
    |attr key|}} {{#if (eq attr.type "damage")}}
    <button class="card-button" data-action="{{key}}">
      <i class="fas fa-tint"></i> {{attr.name}}
    </button>
    {{/if}} {{/each}} {{/if}} {{#if hasReloadButton}}
    <h4 class="actions-subheading">Reload</h4>
    <button class="card-button" data-action="reload">
      <i class="fas fa-redo-alt"></i> {{localize "SWADE.Reload"}}
    </button>
    {{/if}}
  </div>
</div>
