.swade.sheet.actor.npc {
  min-width: 540px;
  max-height: 740px;
  .header-field {
    padding: 1px;
  }
  .sheet-header {
    .profile-img-container {
      height: 120px;
    }
    .conviction {
      width: 30%;
    }
  }
  .extra-gear-card {
    border-bottom: $decorative-line;
    padding-bottom: 2px;
    margin-bottom: 2px;
    .stats {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .card-stat {
        flex-grow: 1;
        flex-basis: 140px;
      }
    }
    .item-controls {
      flex-grow: 0;
      flex-basis: 40px;
    }
  }
  .editor {
    height: 165px;
  }

  .vitals {
    .vitals-container {
      margin: 0 8px;
      text-align: center;
      .counter {
        line-height: 25px;
      }
    }
  }

  // Summary
  .skills {
    margin: 5px 0;
    padding: 2px;
    overflow: auto;
    .skills-list {
      span {
        a:hover {
          border-bottom: 1px dotted #293133;
        }
      }
    }
  }
}
