.swade.setting-config {
  /* Attributes */
  .attributes-header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #aaa;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;

    .attribute-label {
      flex: 1.5;
    }

    .attribute-control {
      flex: 0 0 20px;
    }
  }

  .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li > * {
      margin: 0 3px;
      height: 28px;
      line-height: 24px;
      background: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #aaa;
    }

    a.attribute-control {
      flex: 0 0 20px;
      text-align: center;
      line-height: 28px;
      border: none;
    }
  }
}
