$light-grey: #aaa;
$eggshell: #eeede0;
$anthracite: #293133;
$dark-paste-blue: #779ecb;
$light-pastel-blue: #dfe6f5;

$decorative-line: 1px solid $anthracite;
$section-border: 1px groove $anthracite;

%header-field {
  padding: 5px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.05);
  border: $decorative-line;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}

%standalone-input-field {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 2px;
}
