.swade.sheet.actor.vehicle {
  .inventory {
    .inventory-categories {
      height: auto;
    }
  }
  .gear {
    padding: 2px;
    flex-basis: 200px;
    section {
      padding-bottom: 2px;
    }
    .gear-card {
      margin: 2px;
      .card-header {
        .item-controls {
          flex-grow: 0;
          flex-basis: 32px;
        }
      }
    }
  }
  .vitals {
    flex-basis: 200px;
  }

  #driverImageContainer {
    position: relative;
    .driver-img {
      width: 100px;
      max-width: 100px;
      height: 100px;
      margin: 5px auto 5px auto;
      border: none;
      object-fit: contain;
      cursor: pointer;
    }
  }
  .reset-driver {
    float: right;
    margin-right: 5px;
  }

  .driver-box {
    padding: 3px;
    text-align: center;
  }
}
