<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    {{> "systems/swade/templates/items/partials/header-delete.html"}}
    <section class="sheet-body">
        <div class="form-group">
            <input type="checkbox" name="data.major" id="data.major" {{checked item.data.major}} data-dtype="Boolean">
            <label for="data.major">{{localize "SWADE.MajHind"}}</label>
        </div>
        {{> "systems/swade/templates/items/partials/description.html"}}
    </section>
</form>