<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}} {{>
  "systems/swade/templates/items/partials/header-delete.html"}}
  <main class="sheet-body flexrow">
    <section class="item-stats">
      <header class="header-field">
        <span>{{localize "SWADE.Details"}}</span>
      </header>
      <div class="form-group">
        <label for="data.rank">{{localize "SWADE.Rank"}}</label>
        <input
          name="data.rank"
          type="text"
          value="{{item.data.rank}}"
          placeholder="{{localize 'SWADE.Rank'}}"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label for="data.pp">{{localize "SWADE.PPShort"}}</label>
        <input
          name="data.pp"
          type="text"
          value="{{item.data.pp}}"
          placeholder="{{localize 'SWADE.PP'}}"
          data-dtype="Number"
        />
      </div>
      <div class="form-group">
        <label for="data.range">{{localize "SWADE.Rng"}}</label>
        <input
          name="data.range"
          type="text"
          value="{{item.data.range}}"
          placeholder="{{localize 'SWADE.Rng'}}"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label for="data.duration">{{localize "SWADE.Dur"}}</label>
        <input
          name="data.duration"
          type="text"
          value="{{item.data.duration}}"
          placeholder="{{localize 'SWADE.Dur'}}"
          data-dtype="String"
        />
      </div>

      <div class="form-group">
        <label for="data.damage">{{localize "SWADE.Dmg"}}</label>
        <input
          name="data.damage"
          type="text"
          value="{{item.data.damage}}"
          placeholder="{{localize 'SWADE.Dmg'}}"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label for="data.arcane">{{localize "SWADE.Arcane"}}</label>
        <input
          name="data.arcane"
          type="text"
          value="{{item.data.arcane}}"
          placeholder="{{localize 'SWADE.Arcane'}}"
          data-dtype="String"
        />
      </div>
    </section>
    <section>
      <header class="header-field">
        <span>{{localize "SWADE.Desc"}}</span>
      </header>
      <input
        name="data.trapping"
        type="text"
        value="{{item.data.trapping}}"
        placeholder="{{localize 'SWADE.Trap'}}"
        data-dtype="String"
        style="margin: 2px 0;"
      />
      {{editor content=data.description target="data.description" button=true
      owner=owner editable=editable}}
    </section>
  </main>
</form>
