<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    <header class="sheet-header loot-header flexrow">
        <div class="header-fields" style="border: none;">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Skill Name" />
            </h1>
        </div>
    </header>
    <h4>
        Die: <input name="die" type="text" value="{{item.data.value}}" name="item.data.value" data-dtype="String" placeholder="Skill Die" />
    </h4>
    <h4>
        Attribute: <input name="attribute" type="text" value="{{item.data.attribute}}" name="item.data.attribute" data-dtype="String" placeholder="Linked Attribute" />
    </h4>
    <h4>
        Wild Die: <input name="wild-die" type="text" value="{{item.data.wild-die}}" name="item.data.wild-die" data-dtype="String" placeholder="Wield Die" />
    </h4>
</form>