<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields flexrow">
            <h1 class="itemname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Weapon Name" />
            </h1>
        </div>
    </header>
    <section class="sheet-body">
        <ul>
            <li>
                <label for="damage">Damage</label>
                <input name="data.damage" type="text" value="{{item.data.damage}}" placeholder="Damage" />
            </li>
            <li>
                <label for="range">Range</label>
                <input name="data.range" type="text" value="{{item.data.range}}" placeholder="Range" />
            </li>
            <li>
                <label for="wild-die">RoF</label>
                <input name="data.rof" type="text" value="{{item.data.rof}}" placeholder="RoF" />
            </li>
            <li>
                <label for="wild-die">AP</label>
                <input name="data.ap" type="text" value="{{item.data.ap}}" placeholder="AP" />
            </li>
        </ul>
    </section>
</form>