<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}} {{>
  "systems/swade/templates/items/partials/header.html"}}
  <main class="sheet-body flexrow">
    <section class="item-stats">
      <header class="header-field">
        <span>{{localize "SWADE.Details"}}</span>
      </header>
      <div class="form-group">
        <input
          type="checkbox"
          name="data.isVehicular"
          id="data.isVehicular"
          {{checked
          item.data.isVehicular}}
          data-dtype="Boolean"
        />
        <label for="data.isVehicular">Vehicular Weapon</label>
      </div>
      <div class="form-group">
        <input
          type="checkbox"
          name="data.equipped"
          id="data.equipped"
          {{checked
          item.data.equipped}}
          data-dtype="Boolean"
        />
        <label for="data.equipped">{{localize "SWADE.Equipped"}}</label>
      </div>
      <div class="shot-group">
        <label for="data.shots">{{localize "SWADE.Mag"}}</label>
        <span class="form-fields">
          <input
            name="data.currentShots"
            type="text"
            value="{{item.data.currentShots}}"
            placeholder="{{localize 'SWADE.Mag'}}"
            data-dtype="String"
          />
          <input
            name="data.shots"
            type="text"
            value="{{item.data.shots}}"
            placeholder="0"
            data-dtype="String"
          />
        </span>
      </div>
      <div class="form-group">
        <label for="data.damage">{{localize "SWADE.Dmg"}}</label>
        <span class="form-fields">
          <input
            name="data.damage"
            type="text"
            value="{{item.data.damage}}"
            placeholder="{{localize 'SWADE.Dmg'}}"
            data-dtype="String"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.range">{{localize "SWADE.Rng"}}</label>
        <span class="form-fields">
          <input
            name="data.range"
            type="text"
            value="{{item.data.range}}"
            placeholder="{{localize 'SWADE.Rng'}}"
            data-dtype="String"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.rof">{{localize "SWADE.RoF"}}</label>
        <span class="form-fields">
          <input
            name="data.rof"
            type="text"
            value="{{item.data.rof}}"
            placeholder="{{localize 'SWADE.RoF'}}"
            data-dtype="String"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.ap">{{localize "SWADE.Ap"}}</label>
        <span class="form-fields">
          <input
            name="data.ap"
            type="text"
            value="{{item.data.ap}}"
            placeholder="{{localize 'SWADE.Ap'}}"
            data-dtype="String"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.price">{{localize "SWADE.Price"}}</label>
        <span class="form-fields">
          <input
            name="data.price"
            type="text"
            value="{{item.data.price}}"
            placeholder="{{localize 'SWADE.Price'}}"
            data-dtype="Number"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.weight">{{localize "SWADE.Weight"}}</label>
        <span class="form-fields">
          <input
            name="data.weight"
            type="text"
            value="{{item.data.weight}}"
            placeholder="{{localize 'SWADE.Weight'}}"
            data-dtype="Number"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.quantity">{{localize "SWADE.Quantity"}}</label>
        <span class="form-fields">
          <input
            name="data.quantity"
            type="text"
            value="{{item.data.quantity}}"
            placeholder="{{localize 'SWADE.Quantity'}}"
            data-dtype="Number"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.minStr">{{localize "SWADE.MinStrShort"}}</label>
        <span class="form-fields">
          <input
            name="data.minStr"
            type="text"
            value="{{item.data.minStr}}"
            placeholder="{{localize 'SWADE.MinStr'}}"
            data-dtype="String"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.notes">{{localize "SWADE.Notes"}}</label>
        <span class="form-fields">
          <input
            type="text"
            name="data.notes"
            value="{{item.data.notes}}"
            placeholder="{{localize 'SWADE.Notes'}}"
            data-dtype="String"
        /></span>
      </div>
      {{#if item.data.isVehicular}} {{#if settingrules.modSlots}}
      <div class="form-group">
        <label for="data.mods">{{localize "SWADE.ModSlots"}}</label>
        <span class="form-fields">
          <input
            name="data.mods"
            type="text"
            value="{{item.data.mods}}"
            placeholder="{{localize 'SWADE.ModSlots'}}"
            data-dtype="Number"
        /></span>
      </div>
      {{/if}} {{/if}} {{> "systems/swade/templates/setting-fields.html"}} {{log
      item}}
    </section>
    <section>
      {{> "systems/swade/templates/items/partials/description.html"}}
    </section>
  </main>
</form>
